
html {
  overflow-x: hidden; }

body {
  background: #fff;
  font-family: "Jost", serif;
  margin-left: -11em;
   }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  color: black; 
  font-size: 23px;
  
}
  a:hover {
    text-decoration: none;
    color:blue; 
  }

 h2, h3, 
.h2, .h3,  {
  color: #000;
  font-family: "Jost", sans-serif; }

  h2{
    position: relative;
    bottom: -34px;
  }

.btn {
  border-radius: 40px;
  padding: 20px 40px;
  text-decoration: none; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-outline-white {
    border-color: #fff;
    background: transparent;
    color: #fff; }
    .btn.btn-outline-white:hover {
      background: #fff;
      border-color: #fff;
      color: #000; }

-.line-height-1 {
  line-height: 4 !important; }

.bg-black {
  background: #000; }

.nonloop-block-13 .owl-dots {
  position: relative;
  bottom: -3rem;
  text-align: center;
  width: 500%; 
  max-height: 2060%;
}


  .nonloop-block-13 .owl-dots .owl-dot {
    display: inline-block;
    width: 500%;
    height: 500%;
    margin: 50px; }
    .nonloop-block-13 .owl-dots .owl-dot > span {
      display: inline-block;
      width: 400%;
      height: 400%;
      border-radius: 50%;
      background: #ffff; }
    .nonloop-block-13 .owl-dots .owl-dot.active > span {
      background: #ffff; }
}

.blog-section {
  background: #ffff; }


.img-fluid {
    max-width: 120%;
    height: 7em;

}

.media-29191 .date {
color: #2fc6de; 

}

.media-29191 h3 a {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
hr{
  position: relative;
    bottom: -2em;
    right: 3em;
    width: 202%;

}
.nonloop-block-13.owl-carousel .owl-nav button {
  font-size: 18px;
    color: #1c1c1c;
    height: 80px;
    width: 80px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #000000;
    position: absolute;
    left: -100px;
    top: 50%;
    -webkit-transform: translateY(-35px);
    background: #ffffff;
    border-radius: 51%;
    
}

.fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    
   }

.fa-arrow-left:before {

    content: "\f060";
    position: relative;
    bottom: 199px;
    right: 45px;
    color: black;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    

  }
.fa-arrow-right:before {
     content: "\f061";
    position: relative;
    bottom: 193px;
    right: -1329px;
    color: black;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    }

.font-weight-bold {
    font-weight: 700!important;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: -89px;
    right: 45px;
}
.view{
  position: relative;
    bottom: -53px;
    right: -1142px;
}
.owl-carousel{
  width: 118%; 
  height: 454%;
  right: 57px;
  margin-right: 696px;
}